.approach {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    background: var(--bg-gray);
}
.title-approach {
    font: var(--headline5);
    color: var(--fontColor);
    display: block;
    height: 100px;
    background: var(--bg-nav);
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    block-size: 60px;
    width: 100%;
}
.subtitle-approach {
    font: var(--fontBase);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}
.approach-content {
    width: auto;
    height: auto;
}
.p-approach {
    width: auto;
    margin: 20px;
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
}
.approach-img {
    display: block;
    text-align: center;
}
.img-empathy {
    height: 160px;
}
.experience-list {
    width: auto;
    margin: 15px;
    text-align: justify;
    font-size: 13px;
}

@media screen and (min-width: 1024px) {
    .approach {
        height: 834px;
    }
    .container-therapy {
        display: flex;
        flex-direction: row;
        gap: 200px;
        justify-content: center;
    }
    .title-approach {
        font: var(--headline3);
        color: var(--fontColor);
        display: block;
        height: 100px;
        background: var(--bg-nav);
        text-align: center;
        text-transform: uppercase;
        align-content: center;
        block-size: 80px;
    }
    .subtitle-approach {
        font: var(--fontBase);
        font-size: 40px;
        font-weight: 700;
        margin: 20px;
        margin-top: 60px;
    }
    .p-approach {
        width: 1010px;
        text-align: justify;
        font-size: 22px;
        margin-top: 80px;
        line-height: 40px;
        font-weight: 500;
    }
    .img-empathy {
        height: 300px;
    }
}