.button-contact {
    background: var(--buttonColor);
    color: var(--white);
    font: var(--button);
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height: 45px;
    width: 125px;
    margin-top: 40px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .button-contact {
        width: 250px;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}