.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}
.title-experience {
    font: var(--headline5);
    color: var(--fontColor);
    display: block;
    height: 100px;
    background: var(--bg-nav);
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    block-size: 60px;
    width: 100%;
}
.experience-content {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 120px;
    margin-top: 20px;
}
.experience-img {
    display: block;
    text-align: center;
}
.years-list {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 13px;
    margin: 15px;
}
.experience-list {
    display: flex;
    flex-direction: row;
    width: auto;
    text-align: justify;
    font-size: 13px;
    margin: 15px;
}
.p-years-1 {
    width: 80px;
    margin-top: 20px;
}
.p-years-2 { 
    display: none;
}
.button-experience {
    margin-top: 40px;
}
.button-cv {
    background: var(--buttonColor);
    color: var(--white);
    font: var(--button);
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 160px;
    line-height: normal;
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .experience {
        height: 900px;
    }
    .title-experience {
        font: var(--headline3);
        color: var(--fontColor);
        display: block;
        height: 100px;
        background: var(--bg-nav);
        text-align: center;
        text-transform: uppercase;
        align-content: center;
        block-size: 80px;
    }
    .experience-content {
        margin-top: 80px;
    }
    .years-higea {
        font-size: 20px;
        width: 300px;
    }
    .experience-higea {
        font-size: 20px;
        width: 600px;
    }
    .years-security {
        font-size: 20px;
        width: 300px;
    }
    .experience-security {
        font-size: 20px;
        width: 600px;
    }
    .years-internship {
        font-size: 20px;
        width: 300px;
    }
    .experience-internship {
        font-size: 20px;
        width: 600px;
    }
    .p-years-1 { 
        display: none;
    }
    .p-years-2 { 
        display: block;
    }
}