.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 630px;
}
.container-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title-experience {
    font: var(--headline5);
    color: var(--fontColor);
    display: block;
    height: 100px;
    background: var(--bg-nav);
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    block-size: 60px;
    width: 100%;
}
.experience-content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 20px;
}
.experience-list {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: justify;
    margin: 15px;
    gap: 10px;
    padding-left: 25px;
    padding-right: 10px;
}
.li-exp {
    font-size: 13px;
    font-weight: 500;
}
.button-experience {
    margin-top: 30px;
}
.button-contact-experience {
    background: var(--buttonColor);
    color: var(--white);
    font: var(--button);
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: normal;    
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.img-experience-content {
    display: block;
    text-align: center;
}
.img-experience {
    width: 300px;
}

@media screen and (min-width: 1024px) {
    .experience {
        height: 820px;
    }
    .title-experience {
        font: var(--headline3);
        color: var(--fontColor);
        display: block;
        height: 100px;
        background: var(--bg-nav);
        text-align: center;
        text-transform: uppercase;
        align-content: center;
        block-size: 80px;
    }
    .experience-content {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 500px;
        margin-top: 90px;
        gap: 50px;
    }
    .experience-list {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: justify;
        margin: 15px;
        gap: 60px
    }
    .li-exp {
        font-size: 22px;
        font-weight: 500;
    }
    .img-experience {
        width: 540px;
        padding-top: 20px;
    }
    .button-experience {
        margin-top: 20px;
    }
    .button-contact-experience {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 24px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
}