.header {
    background: var(--bg-nav);
    block-size: 60px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    margin: 0
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--bg-nav);
    block-size: 60px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    margin: 0;
    gap: 30px;
}

.img-icon {
    width: 49px;
    height: 55px;
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .header {
        block-size: 80px;
        display: flex;
    }
    .container-header {
        block-size: 80px;
    }
    .img-icon {
        width: 73px;
        height: 80px;
        left: 10px;
        cursor: pointer;
    }
}