.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
}
.title-home{
    font: var(--fontBase);
    color: var(--fontColor);
    font-style: italic;
    font-size: 20px;
    width: auto;
    text-align: justify;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
.img-logo{
    padding-top: 20px;
}

@media screen and (min-width: 1024px) {
    .home-page {
        height: 810px;
    }
    .title-home{
        font: var(--fontBase);
        color: var(--fontColor);
        font-style: italic;
        font-size: 30px;
        padding-top: 100px;
        width: auto;
        text-align: justify;
    }
    .img-logo{
        padding-top: 30px;
        width: 1100px;
    }
}