@import "./button.css";
@import "./header.css";
@import "./nav-menu.css";
@import "./home.css";
@import "./about.css";
@import "./modalities.css";
@import "./experience.css";
@import "./approach.css";


:root {
    --fontBase: "Montserrat", sans-serif;
    --fontTitle: "Cinzel", serif;
    --headline1: bold 95px/153.71px var(--fontTitle);
    --headline2: bold 57px/90px var(--fontTitle);
    --headline3: bold 48px/77px var(--fontTitle);
    --headline4: bold 34px/55px var(--fontTitle);
    --headline5: bold 28px/44px var(--fontTitle);
    --headline6: bold 24px/38px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --navBar: bold 16px/28px var(--fontBase);
    --navBarMobile: bold 14px/40px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --bg1: #E7D7C9;
    --bg2: #EDE9DF;
    --bg-gray: #DDDEE3;
    --bg-nav: #EBEBEB;
    --fontColor: #322203;
    --white: white;
    --black: #0F0A0A;
    --primary: #4FA6C0;
    --buttonColor: #ACCFD5;
    
}

body {
    background: var(--bg1);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--black);
    margin: 0;
}

#icono {
    padding-left: 20px;
}