.psicodava {
    text-decoration: none;
    color: var(--fontColor);
    font: var(--headline4);
    text-transform: uppercase;
}
.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-top: 5px;
}
.navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: end;
    background: var(--primary);
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 0 0 0 50px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
.nav-menu-mobile {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: end;
    margin-top: 10px;
}
.nav-menu-desktop {
    display: none
}
.nav-menu-mobile li a {
    text-decoration: none;
    color: var(--fontColor);
    font: var(--navBarMobile);
}
.open-menu,
.close-menu {
    display: block;
    color: #322203;
    background: none;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}
.navbar.visible {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 1200px) {
    .navbar {
        width: 100%;
        height: 80px;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        align-items: center;
        background: var(--bg-nav);
        border-radius: 0 0 0 0;
        box-shadow: none;
    }
    .container-navbar {
        justify-content: start;
        gap: 0px;
    }
    .nav-menu-mobile {
        display: none;
    }
    .navbar-lists {
        display: flex;
        flex-direction: row;
    }
    .nav-menu-desktop {
        display: flex;
        margin: 0;
        list-style: none;
        width: 100%;
        justify-content: center;
        gap: 15px;
        align-items: center;
        padding-right: 35px;
        padding-left: 0;
    }
    .nav-item {
        cursor: pointer;
    }
    .nav-link {
        display: block;
        padding-top: 7px;
        padding-left: 15px;
        color: var(--fontColor);
        font: var(--navBar);
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
    }
    .nav-link:hover {
        color: var(--primary);
    }
    .psicodava {
        display: block;
        padding-top: 7px;
        padding-left: 15px;
        color: var(--fontColor);
        font: var(--headline3);
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
        margin: 0;
        padding: 0;
    }
    .psicodava:hover {
        color: var(--primary);
    }
    .open-menu,
    .close-menu {
        display: none;
    }
}
@media screen and (min-width: 1300px) {
    .nav-menu-desktop {
        gap: 25px;
    }
}
@media screen and (min-width: 1400px) {
    .nav-menu-desktop {
        gap: 35px;
        padding-right: 50px;
    }
}
@media screen and (min-width: 1500px) {
    .nav-menu-desktop {
        gap: 45px;
    }
    .psicodava {
        font: var(--headline2);
    }
}
@media screen and (min-width: 1600px) {
    .nav-menu-desktop {
        gap: 55px;
        padding-right: 70px;
    }
}
@media screen and (min-width: 1800px) {
    .nav-menu-desktop {
        gap: 75px;
        padding-right: 90px;
    }
}
/* @media screen and (min-width: 1200px) {
    .navbar {
        width: 100%;
        height: 80px;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        align-items: center;
        background: var(--bg-nav);
        border-radius: 0 0 0 0;
        box-shadow: none;
    }
    .container-navbar {
        justify-content: start;
        gap: 0px;
    }
    .nav-menu-mobile {
        display: none;
    }
    .navbar-lists {
        display: flex;
        flex-direction: row;
    }
    .nav-menu-desktop {
        display: flex;
        margin: 0;
        list-style: none;
        width: 100%;
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding-right: 130px;
    }
    .nav-item {
        cursor: pointer;
    }
    .nav-link {
        display: block;
        padding-top: 7px;
        padding-left: 15px;
        color: var(--fontColor);
        font: var(--navBar);
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
    }
    .nav-link:hover {
        color: var(--primary);
    }
    .psicodava {
        display: block;
        padding-top: 7px;
        padding-left: 15px;
        color: var(--fontColor);
        font: var(--headline2);
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out;
        margin: 0;
        padding: 0;
    }
    .psicodava:hover {
        color: var(--primary);
    }
    .open-menu,
    .close-menu {
        display: none;
    }
} */