<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSICODAVA</title>
    <link rel="icon" type="image/png" href="../images/icons/icono.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdd7f0eef4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header" role="banner">
        <div class="container-navbar">
            <div class="psicodava-icon">
                <a href="/views/index.html"><img class="img-icon" src="../images/icons/icono.png" alt="icono"></a>
            </div>
            <a class="psicodava" onclick="irAElementoPorIdConOffset('home')">PSICODAVA</a>
            <button class="open-menu" id="open"><i class="fa-solid fa-bars"></i></button>
        </div>
        <nav class="navbar" id="nav" role="navigation">
            <button class="close-menu" id="close"><i class="fa-solid fa-xmark"></i></button>
            <div class="navbar-lists">
                <ul class="nav-menu-desktop">
                    <div class="psicodava-icon">
                        <a onclick="irAElementoPorIdConOffset('home')"><img class="img-icon" src="../images/icons/icono.png" alt="icono"></a>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="/views/index.html">SOBRE MI</a></li>
                    <li class="nav-item"><a class="nav-link" href="/views/index.html">ENFOQUE</a></li>
                    <li class="nav-item"><a class="nav-link" href="/views/index.html">EXPERIENCIA</a></li>
                    <li class="nav-item"><a class="psicodava" href="/views/index.html">PSICODAVA</a></li>
                    <li class="nav-item"><a class="nav-link" href="/views/index.html">MODALIDADES</a></li>
                    <li class="nav-item"><a class="nav-link" href="/views/blog.html">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="/views/index.html">CONTACTO</a></li>
                </ul>
                <ul class="nav-menu-mobile">
                    <li class="nav-item"><a href="#about">SOBRE MI</a></li>
                    <li class="nav-item"><a href="#approach">ENFOQUE</a></li>
                    <li class="nav-item"><a href="#experience">EXPERIENCIA</a></li>
                    <li class="nav-item"><a href="#modality">MODALIDADES</a></li>
                    <li class="nav-item"><a href="/views/blog.html">BLOG</a></li>
                    <li class="nav-item"><a href="#footer">CONTACTO</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="title-form2">BLOG</h1>
        <div class="container-fluid-blog" id="blog">
            <div class="container-post">
                <div class="category-date">
                    <div>
                        <Link target='_blank' to="/malware" className="category">PAREJAS</Link>
                    </div>
                    <div>
                        <h3 class="date">07/05/2024</h3>
                    </div>
                </div>
                <div class="content-post">
                    <p class="phrase">
                        "Adonde vayas, yo voy; <br> lo que hagas, lo hago; <br> lo que yo acepte, tú lo aceptas; <br> lo que yo aborrezca, lo aborrecerás tú.<br>
                        Si no puedes ser mi gemelo siamés... <br>
                        <b>¡Sé mi clon!"</b><br>
                    </p>
                    <h4 class="phrase-author">Zygmunt Bauman</h4>
                    <div class="container-img-post">
                        <img class="img-post" src="../images/parejas2.png" alt="Ilustración sobre parejas" />
                    </div>
                    <p class="p-content">
                        Relaciones de parejas que no parecen dos personas distintas, todo lo contrario, anhelan ser lo más semejantes posible perdiendo una identidad propia y adaptándose a una identidad en conjunto, visten igual, tienen la misma foto de perfil, tienen una pulsera igual…<br> 
                        Ya sabemos esto cómo termina, después de un tiempo alguno o ambos anhelan su propia identidad y puede provocar la ruptura.                     
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" id="footer">
        <div class="container-footer">
            <div class="text-wrap-footer">
                <h3 class="title-footer">Contacto</h3>
                <div class="footer-content">
                    <div class="container-icons">  
                        <a class="links-footer1" target="_blank" href="https://api.whatsapp.com/send?phone=3117443258"><img class="icons-footer" src="../images/icons/whatsapp.png" alt="Icono WhatsApp"></a>
                        <a class="links-footer1" target="_blank" href="#contact-form"><img class="icons-footer" src="../images/icons/correo.png" alt="Icono Correo Electrónico"></a>
                        <a class="links-footer1" target="_blank" href="https://www.instagram.com/psico_dava/?hl=es-la"><img class="icons-footer" src="../images/icons/instagram.png" alt="Icono Instagram"></a>
                    </div>
                    <div class="container-links">
                        <a class="links-footer" target="_blank" href="https://api.whatsapp.com/send?phone=3117443258">3117443258</a>
                        <a class="links-footer" target="_blank" href="./contact-form.html">dahianavhpsicologa@gmail.com</a>
                        <a class="links-footer" target="_blank" href="https://www.instagram.com/psico_dava/?hl=es-la">@psico_dava</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-footer">
            <h3 className="footer-copyright">&copy; Portafolio Profesional PSICODAVA | Psicóloga Dahiana Valencia</h3>
        </div>
    </footer>
    <script src="../javascript/nav.js"></script>
    <script src="../javascript/index.js"></script>
</body>
</html>