<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSICODAVA</title>
    <link rel="icon" type="image/png" href="../images/icons/icono.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdd7f0eef4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header" role="banner">
        <nav class="navbar" id="nav">
            <div class="container-navbar">
                <div class="psicodava-icon">
                    <a onclick="irAElementoPorIdConOffset('home')"><img class="img-icon" src="../images/icons/icono.png" alt="icono"></a>
                </div>
                <div class="navbar-lists">
                    <ul class="nav-menu-desktop">
                        <li class="nav-item"><a class="nav-link" onclick="irAElementoPorIdConOffset('about')">SOBRE MI</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="irAElementoPorIdConOffset('approach')">ENFOQUE</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="irAElementoPorIdConOffset('experience')">EXPERIENCIA</a></li>
                        <li class="nav-item"><a class="psicodava" onclick="irAElementoPorIdConOffset('home')">PSICODAVA</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="irAElementoPorIdConOffset('modality')">MODALIDADES</a></li>
                        <li class="nav-item"><a class="nav-link" href="/views/blog.html">BLOG</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="irAElementoPorIdConOffset('footer')">CONTACTO</a></li>
                    </ul>
                    <ul class="nav-menu-mobile">
                        <li class="nav-item"><a href="#about">SOBRE MI</a></li>
                        <li class="nav-item"><a href="#approach">ENFOQUE</a></li>
                        <li class="nav-item"><a href="#experience">EXPERIENCIA</a></li>
                        <li class="nav-item"><a href="#modality">MODALIDADES</a></li>
                        <li class="nav-item"><a href="/views/blog.html">BLOG</a></li>
                        <li class="nav-item"><a href="#footer">CONTACTO</a></li>
                    </ul>
                </div>
                <button class="close-menu" id="close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <button class="open-menu" id="open"><i class="fa-solid fa-bars"></i></button>
        </nav>
        
        <!-- <div class="container-header">
            <div class="psicodava-icon">
                <a href="#home"><img class="img-icon" src="../images/icons/icono.png" alt="icono"></a>
            </div>
            <button class="open-menu" id="open"><i class="fa-solid fa-bars"></i></button>
            <nav class="nav-menu" id="nav" role="navigation">
                <button class="close-menu" id="close"><i class="fa-solid fa-xmark"></i></button>
                <ul class="nav-list-mobile">
                    <li><a href="#about">SOBRE MI</a></li>
                    <li><a href="#approach">ENFOQUE</a></li>
                    <li><a href="#experience">EXPERIENCIA</a></li>
                    <li><a href="#modality">MODALIDADES</a></li>
                    <li><a href="/views/blog.html">BLOG</a></li>
                    <li><a href="#footer">CONTACTO</a></li>
                </ul>
                <ul class="nav-list-desktop">
                    <li><a href="#about">SOBRE MI</a></li>
                    <li><a href="#approach">ENFOQUE</a></li>
                    <li><a href="#experience">EXPERIENCIA</a></li>
                    <li><a href="#psicodava">PSICODAVA</a></li>
                    <li><a href="#modality">MODALIDADES</a></li>
                    <li><a href="/views/blog.html">BLOG</a></li>
                    <li><a href="#footer">CONTACTO</a></li>
                </ul>
            </nav>
            
        </div> -->
    </header>
    <main>
        <section class="home-page" id="home">
            <h1 class="title-home">Encuentra claridad en cada paso: Tu bienestar, nuestra misión.</h1>
            <img class="img-logo" src="../images/icons/logo.png" width=375 alt="Logo de la Psicologa Dahiana Valencia">
            <a onclick="irAElementoPorIdConOffset('footer')" class="button-contact" role="button">Contactar</a>
        </section>
        <section class="about" id="about">
            <div class="about-background">
                <div class="dahiana">
                    <h5 class="title-about">Acerca de</h5>
                    <h1 class="title-name">Dahiana Valencia Hernández</h1>
                    <h3 class="title-professional">Psicóloga</h3>
                </div>
                <div class="about-content">
                    <p class="p-about">
                        Como psicóloga clínica, me destaco por mi profundo compromiso con el bienestar emocional de mis pacientes. 
                        Con una sólida formación académica y una pasión por ayudar a otros, he dedicado mi carrera a brindar apoyo, orientación y tratamiento a aquellos que enfrentan desafíos en su vida mental y emocional.<br>
                        Ya sea que estés lidiando con desafíos personales, familiares o de relación, te ofrezco un espacio seguro y de apoyo donde puedes explorar tus preocupaciones, desarrollar nuevas habilidades y encontrar el camino hacia una vida más satisfactoria y significativa.
                    </p>
                    <div class="about-img">
                        <img src="../images/dahiana1.png" alt="Fotografía de Dahiana Valencia" class="img-dahiana">
                    </div>
                </div>
            </div>
        </section>
        <section class="modalities"  id="modality">
            <div class="title-modalities"> Modalidades</div>
            <div class="container-therapy">
                <div class="virtual">
                    <img class="img-virtual" src="../images/terapia-virtual.png" width="280" alt="Ilustración de una psicoterapia virtual">
                    <h2 class="title-therapy-virtual">Terapia virtual</h2>
                    <p class="paragraph-therapies">Conectate desde donde quieras<br>con tu psicóloga de confianza</p>
                </div>
                <div class="face-to-face">
                    <img class="img-presencial" src="../images/terapia-presencial.png" width="280" alt="Ilustración de una psicoterapia presencial">
                    <h2 class="title-therapy-presencial">Terapia presencial</h2>
                    <p class="paragraph-therapies">Hablemos de frente en un<br>espacio seguro</p>
                </div>
            </div>
        </section>
        <section class="approach" id="approach">
            <div class="title-approach">Enfoque Terapéutico</div>
            <div class="approach-content">
                <h2 class="subtitle-approach">Integrador y centrado en la persona </h2>
                <p class="p-approach">
                    Reconozco la singularidad de cada individuo y trabajo en colaboración con los pacientes para desarrollar planes de tratamiento personalizados que se adapten a sus necesidades específicas.<br>
                    Mi enfoque terapéutico se basa en la empatía, la compasión y la confianza mutua, creando un ambiente seguro y de apoyo para el crecimiento personal llevando a cambios positivos.
                </p>
                <div class="approach-img">
                    <img src="../images/approach.png" alt="Imagen Empatía, compasión y confianza mutua" class="img-empathy">
                </div>
            </div>
        </section>
        <section class="experience" id="experience">
            <div class="title-experience">Experiencia</div>
            <div class="experience-content">
                <div class="img-experience-content">
                    <img class="img-experience" src="../images/experiencia.png" alt="Imagen sobre Experiencia Laboral">
                </div>
                <div class="p-experience">
                    <ul class="experience-list">
                        <li class="li-exp">Psicologa clínica.</li>
                        <li class="li-exp">Psicóloga evaluadora en pruebas psicosensométricas y psicotécnicas.</li>
                        <li class="li-exp">Psicóloga líder de gestión humana.</li>
                        <li class="li-exp">Psicóloga coordinadora de grupos operativos.</li>
                        <li class="li-exp">Voluntaria en resocialización de personas recluidas en máxima seguridad.</li>
                    </ul>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="footer" id="footer">
        <div class="container-footer">
            <div class="text-wrap-footer">
                <h3 class="title-footer">Contacto</h3>
                <div class="footer-content">
                    <div class="container-icons">  
                        <a class="links-footer1" target="_blank" href="https://api.whatsapp.com/send?phone=3117443258"><img class="icons-footer" src="../images/icons/whatsapp.png" alt="Icono WhatsApp"></a>
                        <a class="links-footer1" target="_blank" href="#contact-form"><img class="icons-footer" src="../images/icons/correo.png" alt="Icono Correo Electrónico"></a>
                        <a class="links-footer1" target="_blank" href="https://www.instagram.com/psico_dava/?hl=es-la"><img class="icons-footer" src="../images/icons/instagram.png" alt="Icono Instagram"></a>
                    </div>
                    <div class="container-links">
                        <a class="links-footer" target="_blank" href="https://api.whatsapp.com/send?phone=3117443258">3117443258</a>
                        <a class="links-footer" target="_blank" href="./contact-form.html">dahianavhpsicologa@gmail.com</a>
                        <a class="links-footer" target="_blank" href="https://www.instagram.com/psico_dava/?hl=es-la">@psico_dava</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-footer">
            <h3 className="footer-copyright">&copy; Portafolio Profesional PSICODAVA | Psicóloga Dahiana Valencia</h3>
        </div>
    </footer>
    <script src="../javascript/nav.js"></script>
    <script src="../javascript/index.js"></script>

</body>
</html>